AI-powered_support_triage.json
{
  "name": "ai_model_demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bde1e7fb-e9f0-436e-b72c-332d1746399a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -16
      ],
      "id": "c1cc7a5f-c893-492e-b85e-99c70901b7bb",
      "name": "Webhook",
      "webhookId": "bde1e7fb-e9f0-436e-b72c-332d1746399a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=check the sentiment of this message from user\nMessage:  {{ $json.body.support }}\n\nIs it positive or negative or neutral?\nwhat is the urgency high or low?\nAnswer JSON format with two fields: sentiment and urgency",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        -16
      ],
      "id": "3a2fbec6-3afb-428f-b686-40f17468035f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        208
      ],
      "id": "83d7b0f8-902a-4579-b903-c44ee76980cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "p6y5rSBpVC4solJy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "335d3901-5d67-4cb2-9fa2-a5fd85d91e44",
              "leftValue": "={{ JSON.parse($json.output).urgency }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -16
      ],
      "id": "c70db802-f865-45c3-9705-0ae07501eb1b",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appMWjAqPmvwLysDo",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo"
        },
        "table": {
          "__rl": true,
          "value": "tbl0bxjVrGqLg6cqJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo/tbl0bxjVrGqLg6cqJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "={{ JSON.parse($json.output).urgency }}",
            "Last Contacted": "={{ JSON.parse($json.output).sentiment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contacted",
              "displayName": "Last Contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        688,
        -208
      ],
      "id": "82ec0f07-a509-4dcb-bac2-114d25411817",
      "name": "Create a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "gQ8qWaZH87TlA0xw",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BEHMNR5AB",
          "mode": "list",
          "cachedResultName": "all-sales-lead"
        },
        "text": "=a{{ $('Webhook').item.json.body.name }}lert {{ $json.output }},\n{{ $('Webhook').item.json.body.name }},\n{{ $('Webhook').item.json.body.email }},\n{{ $('Webhook').item.json.body.support }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        688,
        -16
      ],
      "id": "192d5a30-d78d-47ad-9ec4-4b153e0df260",
      "name": "Send a message",
      "webhookId": "815a9f21-7a91-400a-843b-7fc8d1594059",
      "credentials": {
        "slackOAuth2Api": {
          "id": "5SOSCuhoNaCiV2fJ",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appMWjAqPmvwLysDo",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo"
        },
        "table": {
          "__rl": true,
          "value": "tbl0bxjVrGqLg6cqJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo/tbl0bxjVrGqLg6cqJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "={{ JSON.parse($json.output).urgency }}",
            "Last Contacted": "={{ JSON.parse($json.output).sentiment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contacted",
              "displayName": "Last Contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        688,
        176
      ],
      "id": "913a07c3-f8d3-49c1-b856-e66ae9fde8d0",
      "name": "Create a record1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "gQ8qWaZH87TlA0xw",
          "name": "Airtable OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ffbc9298-96af-4714-ac0e-265b46f17048",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c9af124fa7809020a189bbe4cc00d1f6bc105f72b3dbab29d0017f172cb664a"
  },
  "nodeGroups": [],
  "id": "jGaM9nF142Oaz1HK",
  "tags": []
}