Lead_capture_with_Airtable_deduplication.json
{
  "name": "airtable_demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "93c644e0-3b82-4aae-b452-e22e2c41aa20",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        16
      ],
      "id": "d4a38c33-0040-4f1e-866d-63955c366d2a",
      "name": "Webhook",
      "webhookId": "93c644e0-3b82-4aae-b452-e22e2c41aa20"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appMWjAqPmvwLysDo",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo"
        },
        "table": {
          "__rl": true,
          "value": "tbl0bxjVrGqLg6cqJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo/tbl0bxjVrGqLg6cqJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook').item.json.body.name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "NEW",
            "Last Contacted": "={{$today.toISODate()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contacted",
              "displayName": "Last Contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        448,
        112
      ],
      "id": "a46a9f08-ce3e-4ce3-b5ce-f2f63c0894c4",
      "name": "Create a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "gQ8qWaZH87TlA0xw",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "welcome",
        "message": "you are welcome",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        112
      ],
      "id": "63182b7b-e9ba-435c-bd37-aabe28064b40",
      "name": "Send a message",
      "webhookId": "ed51437a-49e5-47ac-bc21-98e55b9f1748",
      "credentials": {
        "gmailOAuth2": {
          "id": "fbN7pie5dXX0Vt4y",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appMWjAqPmvwLysDo",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo"
        },
        "table": {
          "__rl": true,
          "value": "tbl0bxjVrGqLg6cqJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo/tbl0bxjVrGqLg6cqJ"
        },
        "filterByFormula": "={Email} = \"{{ $json.body.email }}\"",
        "options": {},
        "sort": {
          "property": []
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        48,
        0
      ],
      "id": "5e54e4eb-7d89-4a7d-ab35-5397aa5c80b5",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "gQ8qWaZH87TlA0xw",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appMWjAqPmvwLysDo",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo"
        },
        "table": {
          "__rl": true,
          "value": "tbl0bxjVrGqLg6cqJ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appMWjAqPmvwLysDo/tbl0bxjVrGqLg6cqJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Last Contacted": "={{$today.toISODate()}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contacted",
              "displayName": "Last Contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        512,
        -128
      ],
      "id": "e2a2c334-0ea8-4408-99fd-85f37ec63cef",
      "name": "Update record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "gQ8qWaZH87TlA0xw",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f6b4a65-7bfa-48cc-b135-e3dc42e5f5e4",
              "leftValue": "={{ $('Webhook').item.json.body.name }}",
              "rightValue": "={{ $json.fields.Name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        32
      ],
      "id": "b1c2fb53-2068-4cd1-aabd-f8f2fbc4f398",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8a659159-2143-458b-94b1-2905c2abf013",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c9af124fa7809020a189bbe4cc00d1f6bc105f72b3dbab29d0017f172cb664a"
  },
  "nodeGroups": [],
  "id": "x1kTAkcncaY9UXoI",
  "tags": []
}